.addRide {

.control-label {
width: 30%;
text-align: right;
  font-size: 100%;
  font-weight: 100;
    float: right;
}
.foum-input {
width: 65%;
display: inline-table;
float: left;
}
.form-group {
  padding: 4%;
}
.form-control {
  height: 25px;
  padding: 0 3%;
  text-align: right;
  font-size: 100%;
}
.input-group .btn {
padding: 5% 22% 1% 53%;
  margin-left: -30%;
}
  .addRide {
  background-color: #31973E;
  border-color: transparent;
  color: #fff;
  width: 100%;
  font-size: 120%;
}	
#more-details {
height: 40px;
}
.date {
margin-bottom: -3%;
}
.form-group.has-error .help-block {
  padding: 0;
  margin: 0;
  height: 8px;
}
 h2 {
  font-size: 140%;
  color: #fff;
  text-align: right;
  padding: 2% 9% !important;
}
}