.addRide {
.control-label {
width: 30%;
text-align: right;
  font-size: 100%;
  font-weight: 100;
}
.foum-input {
width: 65%;
display: inline-table;
float: left;
}
.form-control {
  height: 25px;
  padding: 0 3%;
  text-align: right;
  font-size: 100%;
}
  .input-group-addon {
	padding: 0 6%;
	}
  .btn-default {
  background-color: #31973E;
  border-color: transparent;
  color: #fff;
  width: 100%;
  font-size: 120%;
}	
#more-details {
height: 40px;
}
}