$busNet-green: rgb(60, 181, 74);
$busNet-lightFontColor: white;
$headerFooter-height: 50px;

body {
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.container-fluid {
    margin: 0 5px !important;
    padding: 0 5px !important;
}
.img-responsive {
    margin: 0 auto;
}
textarea {
    resize: vertical;
}




/*************** if hebrew*****************************/
.footer, input, .subMenu {
    direction: rtl;
}
.gridRowDetails, label, textarea {
    text-align: right;
}
/****************** else ************************************
.gridRowDetails, label {
    text-align: left;
}
*****************************************************************/


/*---------------------------header------------------------------------*/
#header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 99999999999;
}
#menuIcon {
    float: right;
    height: $headerFooter-height;
    width: auto;
    position: relative;
}
#notificationsIcon {
    float: left;
    position: relative;
}
#notificationsIcon img {
    height: $headerFooter-height;
    width: auto;
}
#notificationsIcon .badge {
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 29px;
}


/*---------------------------footer------------------------------------*/
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 99999999999;
}
.footer button {
    padding: 0;
    width: 25%;
    border: 0;
    margin: 0;
    outline: none;
    background-color: $busNet-green;
    color: white;
}
.footer img {
    height: 30px;
}





#betweenHeaderAndFooter {
    padding: 60px 0;
}




/*--------------------------------login-form----------------------------------*/
.login-form .bus {
    margin: 20px auto;
}






.pageTitle {
    float: right;
}




/*--------------------------subMenu -----------------------------------------*/
$subMenu-width: 80%;

.subMenu {
    display: block;
    position: fixed;
    width: $subMenu-width;
    top: 0;
    right: -$subMenu-width;
    padding: 0;
}
.subMenu a {
    color: $busNet-lightFontColor;
    background-color: $busNet-green;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
}
.subMenu li {
    list-style: none;
    margin: 0;
}




/*--------------------------notificationsMenu -----------------------------------------*/

#notificationsMenu {
    display: none;
    position: fixed;
    width: 100%;
    top: 50px;
    left: 0;
    padding: 0;
}

#notificationsMenu li {
    list-style: none;
    margin: 0;
}