.chat-main {
  direction: rtl;
  width: 106%;
  text-align: right;
  padding: 0% 3%;

	.chat-list {
	padding: 2%;
	  border: 0;
	}
	.time {
	  padding-left: 2%;
	  color: rgb(203, 0, 0);
	}
	.name{
	color: rgb(203, 0, 0);
	}
	.message {
	overflow: auto;
    width: 95%;
	border: 0;
	 margin-bottom: -5%;
	}
}

.send {
position: fixed;
  bottom: 89px;
  width: 100%;
  margin: -15px;
	.chat-input {
	  width: 87%;
	  float: right;
	  background-color: #e5e5e5;
	  border: 0;
	  border-radius: 0;
	  padding: 4% 2%;
	}
	.send-chat {
	padding: 1.2% 3.1%;
    border-radius: 0;
    background-color: rgb(60, 181, 75);
    color: #fff;
	width:13%;
	}
	::-webkit-input-placeholder {
	color: #2C2C2C;
	}
}

.chat-ride-details {
  .label {
  color:#fff;
  float: right;
  background-color: #4c66a3;
  width: 20%;
  border-radius: 0;
  padding: 2% 0 2.5% 0;
  font-size: 100%;
  }
  .info {
  float: right;
  width: 20%;
  border-radius: 0;
  padding: 1% 0 1.5% 0;
  font-size: 90%;
  border-bottom: 1px solid #ddd;
   text-align: center;
  }
}