.dropdown-menu-form, .dropdown-menu-form {
    overflow: visible !important;
    cursor: pointer;
}
.input-group, .dropdown-multiselect, .input-group button {
    width: 100% !important;
}
.ui-grid-icon-angle-down {
    position: absolute;
    left: 0;
    top: 3px;
}
.ui-grid-menu.ng-scope {
    left: 0;
}


.gridRowDetails {
    padding: 5px 10px 0;
}

.modal-content {
    top: 100px;
}

.typeahead.dropdown-menu {
  top: auto !important;
  bottom: 36px  !important;
}

.panel-default{
    margin-bottom: 1px;
}

.panel-heading {
    padding: 0px;
    margin: 5px;
}

.panel-body {
    padding: 5px;
}
