.toplable {
background-color: #3cb54b;
  height: 34px;
  margin: 0 -6%;
  margin-top: 12%;
  
  h2 {
  font-size: 140%;
  color: #fff;
  text-align: right;
  padding: 2% 4%;
}
}



a#addride {
  display: block;
  margin-left: 3%;
  margin-top: -9%;
  width: 43%;
  border-color: #ffffff;
  color: #ffffff;
  line-height: 0;
  background-color: #3cb54b;
  font-size: 101%;
  
  img {
  width: 11%;
  margin: -4% 5%;
  float: left;
}
}

.homepage-filter {
  width: 30%;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  
  .input-group-addon {
	padding: 0 6%;
	}
	
  .form-control {
	height: 23px;
   }
   .date {
	margin-top: 8%;
	}
	.btn {
	  padding: 0% 11%;
	  margin: 8% 10px;
	}
	 p {
	padding-top: 2%;
	}
	
}

.rides {
  direction: rtl;
  padding: 0;
  margin: 0 -5%;
  width: 110%;
  float: right;
}

.table-responsive.rides > table tr td {
font-size:100%;
padding: 2%;
}

.table-responsive.rides > table tr th {
font-size:100%;
text-align:right;
padding: 2% 3%;
}

table#ride-table tr .top {
background-color:#4C66A3;
}