@menu-bg-color: #3cb54b;
@menu-color: #fff;
@btn-border-color: #ffffff;
@btn-bg-color: #3cb54b;
@btn-color: #ffffff;
@grid-head-bg-color: #4C66A3;
@grid-sorted-bg-color: #4C66A3;
@grid-color: #fff;

.rides-grid {
  width: 600px;
  height: 400px;	
}