<?xml version='1.0' encoding='utf-8'?>
<widget id="com.busnet.busnetapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>busnetApp</name>
    <description>
        Busnet mobile application
    </description>
    <author email="info@busnet.co.il" href="http://busnet.co.il">
       Busnet team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>