<form>
	<div class="form-group">
		<label for="ridetype" class="control-label">{{'RIDE_TYPE' | translate}}</label>
		<select class="form-control">
			<option ng-repeat="ridetype in ridetypes" value="{{ridetype.id}}">{{ridetype.label}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="ride-date-selector" class="control-label">{{'VACATE_DATE' | translate}}</label>
        <div class='input-group date' id='ride-date-selector'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
		<label for="vehicle-type" class="control-label">{{'VEHICLE_TYPE' | translate}}</label>
		<select id="vehicle-type" class="form-control">
			<option ng-repeat="vehicle in vehicles" value="{{vehicle.id}}">{{vehicle.label}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="vehicle-count" class="control-label">{{'VEHICLE_COUNT' | translate}}</label>
		<select id="vehicle-count" class="form-control">
			<option ng-repeat="vcount in vehicleCount" value="{{vcount}}">{{vcount}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="vacant_area" class="control-label">{{'VACANT_AREA' | translate}}</label>
		<input type="text" id="vacant_area" class="form-control">
	</div>
	<div class="form-group">
		<label for="ride-return-date-selector" class="control-label">{{'RETURN_DATE' | translate}}</label>
        <div class='input-group date' id='ride-return-date-selector'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
		<label for="return-area" class="control-label">{{'RETURN_AREA' | translate}}</label>
		<input type="text" id="return-area" class="form-control">
	</div>
	<div class="form-group">
		<textarea id="more-details" class="form-control" placeholder="{{'MORE_DETAILS' | translate}}"></textarea>
	</div>
	<button type="submit" class="btn btn-default">{{'SUBMIT_NEW_RIDE' | translate}}</button>
</form>