<form class="form-horizontal" novalidate name="addride">
	<div class="form-group" show-errors="{ showSuccess: true }">
        <label class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label" for="ridetype">{{'RIDE_TYPE' | translate}}</label>
		<div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<select name="ridetype" id="ridetype" class="form-control" ng-model="ride.ride_type" ng-options="ridetype.label for ridetype in ridetypes" required>
				<option value="">{{'SELECT' | translate}} {{'RIDE_TYPE' | translate}}</option>
			</select>
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="addride.$submitted && addride.ridetype.$error.required">{{'RIDE_TYPE' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
        </div>
	</div>
	<div class="form-group" show-errors="{ showSuccess: true, trigger: 'change' }">
        <label for="ridedateselector" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'VACATE_DATE' | translate}}</label>
        <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
	        <div class="input-group">
	            <input name="vacant_date" type="text" min-date="today" class="form-control" datepicker-popup="dd/MM/yyyy" min-date="0" ng-model="ride.vacant_date" is-open="vacant_date_opened" ng-required="true"  show-button-bar="false" show-weeks="false" required/>
	            <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="toggle_vacant_date($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	            </span>
	        </div>
	    </div>
	    <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="addride.$submitted && addride.vacant_date.$error.required">{{'VACATE_DATE' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
        </div>
    </div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="vehicletype" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'VEHICLE_TYPE' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<select name="vehicletype" id="vehicletype" class="form-control" ng-model="ride.vehicle" ng-options="vehicle.label for vehicle in vehicles" required>
				<option value="">{{'SELECT' | translate}} {{'VEHICLE_TYPE' | translate}}</option>
			</select>
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="addride.$submitted && addride.vehicletype.$error.required">{{'VEHICLE_TYPE' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
        </div>
	</div>
	<div class="form-group" show-errors="{ showSuccess: true }">
		<label for="vehiclecount" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'VEHICLE_COUNT' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<select name="vehiclecount" id="vehiclecount" class="form-control foum-input" ng-model="ride.vehicle_count" ng-options="vcount for vcount in vehicleCount" required>
				<option value="">{{'SELECT' | translate}} {{'VEHICLE_COUNT' | translate}}</option>
			</select>
			</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="addride.$submitted && addride.vehiclecount.$error.required">{{'VEHICLE_COUNT' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
	<div class="form-group" show-errors="{ showSuccess: true }">
		<label for="vacantarea" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'VACANT_AREA' | translate}}</label>
        <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="text" name="vacantarea" id="vacantarea" data-provide="typeahead" class="form-control typeahead foum-input" ng-model="ride.vacant_area" required>
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="addride.$submitted && addride.vacantarea.$error.required">{{'VACANT_AREA' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
        </div>
	</div> 
	<div class="form-group date" show-errors="{ showSuccess: true }">
        <label for="ridereturndate" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'RETURN_DATE' | translate}}</label>
        <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
	        <div class="input-group">
	          <input name="return_date" type="text" min-date="ride.vacant_date || today" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="ride.return_date" is-open="return_date_opened" ng-required="true"  show-button-bar="false" show-weeks="false" required/>
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="toggle_return_date($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </div>
	    </div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="addride.$submitted && addride.return_date.$error.required">{{'RETURN_DATE' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
        </div>
    </div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="returnarea" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'RETURN_AREA' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="text" name="returnarea" id="returnarea" class="form-control typeahead foum-input" ng-model="ride.return_area" required>
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="addride.$submitted && addride.returnarea.$error.required">{{'RETURN_AREA' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
	<div class="form-group">
        <div class="col-xs-12 col-sm-7 col-sm-offset-3">
		    <textarea id="more-details" class="form-control" rows="4" placeholder="{{'MORE_DETAILS' | translate}}" ng-model="ride.remarks"></textarea>
	    </div>
    </div>
	<button type="submit" ng-click="save(ride)" class="btn btn-success" id="addRideSubmit">{{'SUBMIT_NEW_RIDE' | translate}}</button>
</form>