<div class="row" ng-show="isOwner && ride.type=='1'">
    <label class="col-xs-4 pull-right control-label" for="rideprice">{{'RIDE_PRICE' | translate}}</label>
    <div class="col-xs-5 pull-right">
        <input name="rideprice" type="text" ng-model="messages.price">
    </div>
    <div class="col-xs-3" ng-show="!ride.price">
        <button ng-click="suggest(messages.price)" class="btn btn-default" type="button">{{'SUGGEST' | translate}}</button>
    </div>
    <div class="col-xs-3" ng-show="messages.price">
        {{'WAITING_FOR_APPROVAL' | translate}}
    </div>
</div>
<div class="row" ng-show="isOwner==false && ride.type=='1' && messages.price">
    <label class="col-xs-3 pull-right control-label" for="rideprice">{{'RIDE_PRICE' | translate}}</label>
    <div class="col-xs-2 pull-right">
        {{messages.price}}
    </div>
    <div class="col-xs-3">
        <button ng-click="approve(true)" class="btn btn-default" type="button">{{'APPROVE' | translate}}</button>
    </div>
    <div class="col-xs-3">
        <button ng-click="approve(false)" class="btn btn-default" type="button">{{'DECLINE_PRICE' | translate}}</button>
    </div>
</div>
<ul class="chat-main" id="chat-main">
    <li class="chat-list list-group-item" ng-repeat="msg in messages.msgs">
        <div class="list-group-item-success">
        <span class="time">{{msg.time}}</span>
        <span class="name">{{msg.name}}</span>
        </div>
        <br>
        <div>{{msg.message}}</div>
    </li>
</ul>
<div  id="sendDiv">
    <div class="row">
        <div class="col-xs-2 ">
	 	    <button ng-click="sendMessage(message)" type="submit" class="btn btn-success send-chat">{{'SEND' | translate}}</button>
        </div>
        <div class="col-xs-10">
	        <input ng-model="message" type="text" class="form-control chat-input" placeholder="{{'ENTER_MSG' | translate}}">
        </div>
    </div>
</div>

