<form class="form-horizontal" name="companyDetails" novalidate>
	<div class="form-group">
		<label for="userId" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'NUM' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="text" name="userId" id="userId" class="form-control disabled" disabled value="2">
		</div>
	</div> 
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="companyName" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'COMPANY_NAME' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="text" name="companyName" id="companyName" class="form-control" required ng-model="companyName">
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.companyName.$error.required">{{'COMPANY_NAME' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="contactGuyName" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'CONTACT_GUY_NAME' | translate}}</label>
        <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="text" name="contactGuyName" id="contactGuyName" class="form-control" required ng-model="contactGuyName">
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.contactGuyName.$error.required">{{'CONTACT_GUY_NAME' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="fax" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'FAX' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="tel" name="fax" id="fax" class="form-control" required ng-model="fax">
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.fax.$error.required">{{'FAX' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="adress" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'ADRESS' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="text" name="adress" id="adress" class="form-control" required ng-model="adress">
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.adress.$error.required">{{'ADRESS' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="phone" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'PHONE' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="tel" name="phone" id="phone" class="form-control" required ng-model="phone">
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.phone.$error.required">{{'PHONE' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="email" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'EMAIL' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="email" name="email" id="email" class="form-control" required ng-model="email">
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.email.$error.required">{{'EMAIL' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="om" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'OM' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="tel" name="om" id="om" class="form-control" required ng-model="om">
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.om.$error.required">{{'OM' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="numBuses" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'NUM_BUSES' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="tel" name="numBuses" id="numBuses" class="form-control" required ng-model="numBuses">
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.numBuses.$error.required">{{'NUM_BUSES' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label for="numMiniBuses" class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label">{{'NUM_MINIBUSES' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<input type="tel" name="numMiniBuses" id="numMiniBuses" class="form-control" required ng-model="numMiniBuses">
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.numMiniBuses.$error.required">{{'NUM_MINIBUSES' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label" for="locationProvider">{{'LOCATION_PROVIDER' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<select name="locationProvider" id="locationProvider" class="form-control" ng-model="locationProvider" required>
				<option value=""></option>
                <option value="Ituran">Ituran</option>
                <option value="Pointer">Pointer</option>
			</select>
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.locationProvider.$error.required">{{'LOCATION_PROVIDER' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
    <div class="form-group" show-errors="{ showSuccess: true }">
		<label class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-10 control-label" for="locationProvider">{{'ARANGEMENT_SOFTWARE' | translate}}</label>
	    <div class="col-xs-8 col-xs-pull-4 col-sm-7 col-sm-push-1">
			<select name="arangementSoftware" id="arangementSoftware" class="form-control" ng-model="arangementSoftware" required>
				<option value=""></option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
			</select>
		</div>
        <div class="col-xs-8 col-sm-3 col-sm-pull-9">
            <p class="help-block" ng-if="companyDetails.$submitted && companyDetails.arangementSoftware.$error.required">{{'ARANGEMENT_SOFTWARE' | translate}} {{'REQUIRED_FIELD' | translate}}</p>
		</div>
	</div>
	<div class="form-group">
        <div class="col-xs-12 col-sm-7 col-sm-offset-3">
		    <textarea id="more-details" class="form-control" rows="4" placeholder="{{'MORE_DETAILS' | translate}}" ng-model="remarks"></textarea>
	    </div>
    </div>
	<button type="submit" ng-click="" class="btn btn-success">{{'CONFIRM' | translate}}</button>
</form>