<div class="login-form">	
<!--	<img class="logo" src="images/logomain.png" class="img-responsive"> -->
	<img class="bus img-responsive" src="images/ebus.png">
	<!-- Login Form -->
	<form name="loginForm" role="login" ng-submit="loginMe()" ng-hide="login.isLogged">
		<div class="form-group">
		  <input type="text" class="form-control" ng-model="login.username" name="username" placeholder="{{'USERNAME' | translate}}" id="username">
		</div>
		<div class="form-group">
		  <input type="password" class="form-control" ng-model="login.password" name="password" placeholder="{{'PASSWORD' | translate}}" id="password">
		</div>
		<button type="submit" ng-disabled="login.working" class="btn btn-success">{{ 'LOGIN' | translate }}<i class="fa" ng-class="login.working ? 'fa-cog fa-spin' : 'fa-sign-in'"></i></button>
	</form>
	<!-- Spinner -->
	<div ng-show="login.working">
		<i class="fa fa-spinner fa-spin"></i>
	</div>
	<!-- Logout Form -->
<!--	{{login.isLogged}}  -->
	<form class="navbar-form navbar-right" role="logout" ng-submit="logoutMe()" ng-show="login.isLogged">
		<div class="form-group">
		  <label>{{ 'WELCOME' | translate }} {{ login.user.dtl.companyName }}</label>
		</div>
		<div class="form-group">
		  <button  type="submit" class="btn-default">{{ 'LOGOUT' | translate }} <i class="fa fa-signout"></i></button>
		</div>
	</form>
	<div class="login-error" ng-show="login.wrong">
      <div class="alert alert-danger"><b>{{ 'SERVER_ERROR' | translate }}</b> {{ 'LOGIN_ERROR' | translate }}</div>
    </div>
    <div class="jumbotron loading-jumbo" ng-show="doingResolve">
		<h1><i class="fa fa-refresh fa-2x fa-spin"></i> Loading</h1>
	</div>
</div>


<script>
    /*-----------------scroll to top of an input on focus -------------------*/
    $(function () {
        $("#username, #password").each(function () {
            $(this).focus(function () {
                $("body").animate({
                    scrollTop: $(this).offset().top
                }, 300);
            })
        })
    })
</script>